body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}
header {
  background-color: rgb(189, 207, 207);
  padding: 1px;
  padding: 10px;
  margin-bottom: 10px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  text-align: center;
  margin: 0;
}
a {
  margin: 0 10px;
  color: purple;
}

ul {
  display: flex;
  gap: 1rem;
}

ul li {
  list-style-type: none;
}

nav {
  display: flex;
  max-width: calc(100% - 4rem);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

nav img {
  max-width: 128px;
  position: relative;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}
p {
  background-color: rgb(168, 200, 200);
}
.carousel img{
  object-fit: cover;
  border: 5px;
}
